/* typography */

@media screen and (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 1.3rem;
  }
}

/* header */

.home-header {
  text-align: center;
  color: #f8f8f8;
  position: relative;
  display: table;
}

.home-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10%;
  padding-bottom: 10%;
}

.home-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.home-divider {
  width: 90%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.home-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.network-name {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

@media screen and (max-width:768px) {
  .home-message>h1 {
    font-size: 3em;
  }
  .network-name {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem;
  }
  .btn-lg {
    padding: 0.2rem 0.5rem;
    line-height: 1.3;
  }
  .home-divider {
    width: 100%;
  }
}

@media screen and (min-width:1200px) {
  /* .home-message {
      padding-bottom: 15%;
  } */
  .home-message>h1 {
    font-size: 5em;
  }
  .network-name {
    font-size: 1.1rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .btn-lg {
    padding: 0.5rem 0.8rem;
    line-height: 1.5;
  }
  .home-divider {
    width: 90%;
  }
}

/* main */

/* about section */

.content-section-about {
  padding: 50px 10px;
  background: silver;
  max-height: 850px;
}

/*self-taught*/

.container .link {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.container .link:hover {
  color: rgb(0, 0, 128);
  font-weight: 500;
  /* font-size: 22.5px; */
}

h2.section-heading {
  /* margin-top: 40px; */
  /* font-size: 2em; */
  color: rgba(0, 0, 0, 0.9);
}

.content-section-about p {
  font-weight: 500;
  color: #000;
}

.content-section-about p a {
  color: silver;
  font-weight: 500;
}

.rounded-circle {
  /* margin-top: 130px; */
  border: 1px outset rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: none;
}

@media screen and (min-width: 768px) {
  .rounded-circle {
    display: block;
  }
}

.content-section-portfolio {
  padding: 50px 10px;
  /* background: linear-gradient(#98B1C4, #2F4E6F); */
  /* color: #C8D7E3; */
  /* max-height: 850px; */
}


.content-section-contact {
  padding: 50px 10px;
  background: linear-gradient(#98B1C4, #2F4E6F);
  color: #C8D7E3;
  /* max-height: 850px; */
}



/* footer */

.footer {
  padding: 50px 0;
}

.footer-menu-divider {
  color: #158cba;
}
